*.dll
*.exe
.DS_Store
terraform.tfplan
terraform.tfstate
bin/
modules-dev/
/pkg/
website/.vagrant
website/.bundle
website/build
website/node_modules
.vagrant/
*.backup
./*.tfstate
.terraform/
.ipynb_checkpoints/
*.log
*.bak
*~
.*.swp
.idea
*.iml
*.test
*.iml
data/
